* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.6s ease;
}

.game {
  width: 100%;
  height: 100%;
  max-width: 430px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.character {
  flex: 1;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue-box {
  background: white;
  border-radius: 16px;
  padding: 18px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  white-space: pre-line;

  text-align: center;         
  display: flex;               
  align-items: center;
  justify-content: center;
  min-height: 120px;           
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

#choices {
  margin-bottom: 60px; 
}


button {
  padding: 14px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.96);
}

#noBtn {
  background: #ddd;
  color: #333;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 14px;
  max-width: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 18px;
  cursor: pointer;
}

.scene-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.scene-image img {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;  
  border-radius: 14px;
}

#modalImg {
  width: 100%;
  max-width: 220px;
  height: 160px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 12px;
  display: none;
}
